*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,
body{
    background: linear-gradient(#c3c7f4,#c8a8e9);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items:center;
    min-height: 100vh;
}

.mainbox{
    width: 23rem;
    height: 35rem;
    color: #000;
    margin: 2px;
    padding: 2px;
}

.mainbox h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.mainbox h1 a{
    text-decoration: none;
    color: #000;
}

.mainbox .user-box{
    margin: 20px 0;
}

.mainbox .user-box input{
    width: 94%;
    height: 30px;
    font-size: 25px;
    border-radius: 25px;
    padding: 10px;
    margin: 5px 1px 0 1px;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    overflow: hidden;
    border: 2px solid black;
}
.mainbox label {
    font-size: 20px;
    margin-left: 3px;
    padding: 2px;
}
.mainbox .btn{
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    border-radius: 25px;
    columns: #000;
    background-color: #c8abe9;
    margin: 15px 0;
    cursor: pointer;
}
p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
}

p a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

